.about {
    position: relative;
    margin-top: 70px;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    // background-color: lighten(silver, 18%);
    background-color: #fff;
    box-shadow: 0 0 3px -1px $main-box-shadow;
    color: lighten($main-fc, 20%);
    @media (min-width: 900px) {
        margin-top: 0;
        top: -13px;
        left: 10%;
        max-width: 90%;
        padding-bottom: 80px;
    }
    &__title {
        position: relative;
        padding: 5px 0;
        background-color: $main-bgc;
        margin-bottom: 50px;
        box-shadow: 0 0 3px -1px $main-box-shadow;
        @include media(small) {
            max-width: 600px;
        }
        @include media(medium) {
            left: -20px;
        }
        h2 {
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 2px;
            font-weight: 100;
            font-family: $second-ff;
            margin: 0 20px;
            @include media(medium) {
                font-size: 2rem;
                margin: 0 40px;
            }
            
        }
    }
    &__content {
        margin: 10px 0 ;
        &-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            text-align: center;
            @include media(medium) {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
            }
        }
        &-img {
            height: 50px;
        }
        &-title {
            // background-color: $main-bgc;
            border-bottom:  1px solid #aaa;
            @include media(small) {
                max-width: 500px;
                margin-left: 30px;
            }
            p {
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 2px;
                font-family: $second-ff;
                margin: 0 20px;
                padding: 5px;
            }
        }
        &-txt {
            font-size: 1rem;
            letter-spacing: 1px;
            @include media (small) {
                max-width: 500px;
            }
        }
    }
}